<!DOCTYPE html>
<html>

<head>
	<meta name="Sam Eaton" charset="UTF-8" content="Description Here">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sam Eaton</title>
	<link rel="stylesheet" type="text/css" href="styles/styles.min.css">
</head>

<body>

<!-- BANNER IMAGE -->
<section id="" class="banner">
	<!-- <img src="images/books.png" alt="" class="banner"> -->
</section>


<!-- USER IMAGE -->
<section class="user-img">
	<div class="user-img container">
		<img src="images/user.jpg" alt="" class="user-img">
	</div>
</section>


<!-- USER BIO -->
<section class="user-name">
	<h1 class="user-name">Sam Eaton</h1>
</section>

<!-- USER BIO -->
<section class="user-bio">
	<div class="user-bio">I love JavaScript &amp; CSS. I'm usally coding, reading programming books, or designing something&mdash;all while listening to Soundcloud. I'm on the design team at Qualtrics.</div>
</section>


<!-- USER BACKGROUND -->
<section class="user-background">
	<h2 class="user-background">Background &amp; Experience</h2>
	<form id="user-background-form">
		<input id="user-background-input" type="text" placeholder="Get Sam's Personal Deets">
		<input id="user-background-submit" type="submit" value="Snoop">
	</form>
	<div id="sams-deets" class="user-background output">Result</div>

</section>


<!-- TECH STACK -->
<section class="tech-stack">
	<h2 class="tech-stack">Technology Stack</h2>
	<div class="tech-stack container">

		<div class="tech-stack item">
			<img src="images/gulp.png" alt="" class="tech-stack item-image">
			<div class="tech-stack item-name">Gulp</div>
		</div>

		<div class="tech-stack item">
			<img src="images/stylus.png" alt="" class="tech-stack item-image">
			<div class="tech-stack item-name">Stylus</div>
		</div>

		<div class="tech-stack item">
			<img src="images/eslint.png" alt="" class="tech-stack item-image">
			<div class="tech-stack item-name">Eslint (didn't really need it for this)</div>
		</div>

	</div>
</section>


<script type="text/javascript" src="scripts/scripts.min.js"></script>

</body>

</html>